{
  "printWidth": 100,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/store/(.*)$",
    "^@/pages/(.*)$",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/constants/(.*)$",
    "^@/styles/(.*)$",
    "^@/layout/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
